#headerofpage{
    position:relative;
    bottom:50px;
    width:100vw;
    height:150px;
    margin:0px;
    padding:0px;
    background-color: darksalmon;
    outline-color: darksalmon;
}
html{
    margin:0px;
    padding:0px;
}
nav{
    font-size:40px;
    font-family:"Copperplate", fantasy;
    font-weight:"bold","italic";
    color:black;
    position: relative;
    top:50px;
    text-shadow:1px 1px 2px lightgray;
}
body{
    background-color:lightgray;
    margin:0px;
    padding:0px;
}
.homepage{
    color:black;
}
.homepage:hover{
    color:lightgray;
}
.gallerypage{
    color:black;
}
.gallerypage:hover{
    color:lightgray;
}
footer{
    color:darksalmon;
    text-align:center;
}
.email{
    color:darksalmon;
    font-weight:normal;
    text-align:center;
}
.bold{
    font-weight:bold;
    font-style:italic;
}
p{
    text-align:center;
}
.thanks{
    color:#000000
}
.imgfloat{
    float:left;
    padding-left:250px;
    position: relative;
    top:30px;
    right:70px;
}
.aboutmetitle{
    color:darksalmon;
    font-weight:bold;
    text-decoration: underline;
    font-family:"Copperplate", fantasy;
    font-size:30px;
    text-align:center;
    position: relative;
    right: 30px;
}
.aboutme{
    color:#000000;
    font-size:20px;
    text-align:center;
    font-weight: normal;
    font-family:"Gill Sans", sans-serif;
    position: relative;
    right:30px;
}
.aboutmetext{
    display:block;
    column-width: 500px;
    height: auto;
    padding:55px 105px 105px 105px;
}
#gallery{
   line-height:0;
   -webkit-column-count:5;
   -webkit-column-gap:5px;
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
#gallery img{
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px;
}
@media (max-width: 1200px){
   #gallery{
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}
@media (max-width: 1000px){
   #gallery{
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}
@media (max-width: 800px){
   #gallery{
       -moz-column-count:    2;
       -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px){
   #gallery{
       -moz-column-count:    1;
       -webkit-column-count: 1;
       column-count:         1;
    }
}
@media (max-width :800px){
    .aboutmetext{
        float:none;
        text-align:center;
        top:initial;
        bottom:initial;
        right:initial;
        left:initial;
    }
    .imgfloat{
        display:none;
    }
    footer{
        color:darksalmon;
        bottom:10px;
        text-align:center;
    }
}
#contactme{
    color:darksalmon;
    text-align:center;
    font-weight:bold;
    font-style: italic;
    font-size:50px;
    font-family:"Copperplate", fantasy;
    text-decoration:underline;
}
#insta{
    text-align:center;
    font-family:"Gill Sans", sans-serif;
    font-size:20px;
}
#instalogo{
    width:25px;
    height:auto;
    position: relative;
    top:5px;
}
.instalink{
    color:#000000;
}
